@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@import "./tailwind-colors.css";

@import "./utils/index.css";
@import "./tokens/index.css";
@import "./base/index.css";

@custom-variant light (&:not(.dark *));
@custom-variant dark (&:is(.dark *));

/* shadcn base layer styles */
@layer base {
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-secondary dark:bg-background text-foreground;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

@theme inline {
  --current: currentColor;
  --util-transparent: transparent;
}
